.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 50px;
}

.gallery-image {
  width: 360px;
  height: 200px;
  border-radius: 15px;
}

.original-img {
  display: block;
  width: 1112px;
  height: 640px;
}
